@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
a {
  color: #fff !important;
}

.container {
  width: 80% !important;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.btn-primary {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background-color: #D81F84;
  color: #fff;
  border-radius: 8px;
  border: none;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn-primary :hover {
  color: #D81F84;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #D81F84;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn-secondary {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background-color: white;
  color: #D81F84;
  border-radius: 8px;
  border: 1px solid #D81F84;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn-outline {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.hero-button {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #D81F84;
  color: white;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  text-align: center;
  box-sizing: content-box;
}

.hero-button:hover {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  border-color: #D81F84;
  color: black;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.delete-button {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #DC0000;
  color: white;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  text-align: center;
  box-sizing: content-box;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

label {
  text-transform: none;
  letter-spacing: 0;
}

.tickets-heading {
  font-size: 1rem;
  border-bottom: 2px solid #D81F84;
  padding: 10px 0;
  margin: 0.5rem;
  font-weight: 600;
  color: #D81F84;
  text-transform: capitalize;
  display: inline-flex;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box .section-container {
  margin: 20px;
}

@media (max-width: 600px) {
  .section-container {
    margin: 1px;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .section-container {
    margin: 30px;
  }
  .tickets-heading {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=AdminServices.css.map */