@import '../../basic';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Grey out the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Adjust the value as needed */
}

.icon {
    color: #D81F84;
}

.date-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.date-box {
    margin: 10px;
    border: transparent;
    border-bottom: 1px solid;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.download-all-tickets-button-navbar {
    background: transparent;
    border: 1px solid;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #D81F84;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;

    @include mobile {
        font-size: 14px;
    }
}

.download-specific-button-navbar {
    background: transparent;
    border: 1px solid;
    text-align: center;
    border-radius: 0.5rem;
    color: #D81F84;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;

    @include mobile {
        font-size: 14px;
    }
}

.button-container {
    padding-top: 20px;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include tablet {
        margin-left: 28%;
    }

    @include mobile {
        margin: 10px 30px;
    }
}

.download-ticket-heading {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.download-ticket-heading span {
    color: black;
    padding-bottom: 2px;
    border-bottom: 3px solid #D81F84;
}

@include tablet {
    .list-item {
        list-style-type: none;
    }

    .list-text {
        display: none;
    }
}

@media(max-width:800px) {
    .date-selector-container {
        margin: 30px;
    }

    .download-button {
        padding: 10px;
    }

    .hero-button {
        padding: 10px;
    }
}

@media(max-width:300px) {
    .date-selector-container {
        max-width: 20px;
    }
}