@import './../../basic';

.profile_pages {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 120px;

    @include mobile {
        width: 100%;
        height: 100vh;
        flex-direction: row;
        margin: 0;
        border: 0;
    }

    @include tablet {
        padding-top: 10vh !important;
    }
}

.container-profile {
    display: flex;


    justify-content: space-between;

    @include mobile {
        display: block;
        padding-top: 12vh;
        //margin-top: 20vh;
    }
    @include tablet {
        display: flex;
        flex-direction: column !important;
        .buttons{
            flex-direction: row !important;
        }
    }
}

.profile-img {
    width: 121px;
    height: 121px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 100%;
    margin: 0 50px;
}

.profile-details {
    display: flex;
    @include tablet{
        margin-bottom: 2rem;
    }
}

.title {
    color: #35363A;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 0px;
    width: 80px;
}

.name {
    display: flex;
    margin-bottom: 30px;

    @include mobile {
        dispaly: flex;
        flex-direction: column;
    }

}

.name-box {
    min-width: 300px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #EAEAEA;
    background: #FAFAFA;
    color: #35363A;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.edit {
    margin: 0px 0px;
    margin-bottom: 10px;
    width: 200px;
}

.req-popup {
    color: #3F80CC;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
    text-decoration-line: underline;
    margin-left: 50px;
    cursor: pointer;
}

/*profile-icon*/
.profile-icon {
    cursor: pointer;
    color: #D81F84;
    font-size: 28px;
}

@media (max-width:1070px) {
    .profile-img {
        display: none;
    }

    .edit1 {
        margin-bottom: 80px;
    }



}

@media (max-width:720px) {
    .profile-cont {
        width: 100%;
        text-align: center;
        height: 100%;
    }


    .profile-icon {
        font-size: 20px;
    }

    .profile-details {
        padding-top: 20px;
    }

    .buttons {
        display: flex;
    }

    .container-profile {
        display: block;
        overflow-y: auto;
    }


    .edit1 {
        margin-bottom: 0px;
    }

    .edit {
        width: 120px;
        font-size: 13px;
        height: 32px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .name {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width:500px) {

    .title,
    .name-box {
        font-size: 15px;
        max-width: 65px;
    }

    .name-box {
        min-width: 190px;
        height: 40px;
    }

    .edit {
        width: 90px;
        font-size: 13px;
        height: 32px;
    }

    .side {
        font-size: 15px !important;
        position: absolute;
        bottom: 40px;
        left: 140px;
    }


}

.buttons {
    margin-right: 50px;
    display: flex;
    flex-direction: column !important;

    @include mobile {
        display: flex;
        flex-direction: row !important;
    }

    
}

.profile-cont{
    @include tablet{
        padding-left: 0 !important;
    }
    @include screen{
        //padding-left: 0 !important;
    }
}