@import '../../basic';

/*heading*/
.analytics-heading {
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    @include mobile{
        font-size: 25px;
        text-align: center;
    }
}

/*table styles*/
.table-wrapper {
    /* overflow: hidden; */
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 90vh;
    position: relative;
    margin: 50px 0;
}

.table-wrapper table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    /* Ensure no space between table cells */
}

.table-wrapper {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
    max-height: calc(90vh - 30px);
    /* Adjusted maximum height to accommodate scrollbar */
    /* max-width: calc(90% - 30px); */
    /* Adjusted maximum width to accommodate scrollbar */
    margin-right: -16px;
    /* Compensate for the space taken by scrollbar */
    margin-bottom: -16px;
    /* Compensate for the space taken by scrollbar */
    padding-right: 16px;
    /* Compensate for the space taken by scrollbar */
    padding-bottom: 16px;
    /* Compensate for the space taken by scrollbar */
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #D81F84;
    border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #a3135c;
}

.table-wrapper tr {
    white-space: nowrap;
    /* Prevent wrapping */
}

.table-wrapper thead th,
.table-wrapper tbody td {
    padding: 16px;
}

/*date styles*/
.date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-box {
    margin: 10px;
    border: transparent;
    border-bottom: 1px solid;
    padding: 7px;
    text-transform: uppercase;
    cursor: pointer;
}

/*preview buttons container styles*/
.preview-buttons-container {
    display: flex;
    justify-content: space-between;
    @include mobile{
        display: block;
    }
}

.icon-container {
    margin: 0px 30px
}

@media (min-width: 300px) and (max-width: 800px) {
    .table-wrapper {
        margin: 30px 0;
    }

    .preview-buttons-container {
        display: block;
    }

    .analytics-heading {
        font-size: 25px;
        text-align: center;
    }
}

@media(max-width:800px) {

    .download-button {
        padding: 10px;
    }

    .hero-button {
        padding: 10px;
    }

    .date-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-container {
        margin: 0 10px;
    }

    .date-container>div {
        padding: 10px 0;
    }

    .download-button-container {
        display: grid;
        justify-content: center;
    }
}

@media(max-width:300px) {
    .date-selector-container {
        max-width: 20px;
    }
}