/* ======= Footer Styles ======= */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
a {
  color: #fff !important;
}

.container {
  width: 80% !important;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.btn-primary {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background-color: #D81F84;
  color: #fff;
  border-radius: 8px;
  border: none;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn-primary :hover {
  color: #D81F84;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #D81F84;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn-secondary {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background-color: white;
  color: #D81F84;
  border-radius: 8px;
  border: 1px solid #D81F84;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn-outline {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.hero-button {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #D81F84;
  color: white;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  text-align: center;
  box-sizing: content-box;
}

.hero-button:hover {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  border-color: #D81F84;
  color: black;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.delete-button {
  padding-block: 0.6rem;
  padding-inline: 0.7rem;
  background: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #DC0000;
  color: white;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  text-align: center;
  box-sizing: content-box;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

label {
  text-transform: none;
  letter-spacing: 0;
}

footer {
  background-color: #D81F84;
  height: auto;
  padding-block: 3rem;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
footer .container {
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: flex;
}
@media (max-width: 600px) {
  footer .container {
    flex-direction: column-reverse;
    flex-direction: column;
  }
}

.footer-logo {
  height: 3rem;
  width: 120px;
}
@media (max-width: 600px) {
  .footer-logo {
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .company-description {
    width: 25%;
  }
}
@media (max-width: 600px) {
  .company-description {
    margin-bottom: 2rem;
  }
}

.pages {
  position: relative;
}
.pages ul {
  padding-left: 0;
}
.pages ul li {
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .pages {
    margin-bottom: 2rem;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 35%;
}
@media (max-width: 600px) {
  .contacts {
    width: 100%;
  }
}
.contacts p {
  margin-bottom: 1.5rem !important;
  color: #fff !important;
}
.contacts .contact {
  font-weight: 500;
}
@media (max-width: 600px) {
  .contacts .contact {
    text-align: center;
  }
}
.contacts .address {
  width: 100%;
}
.contacts a {
  font-weight: 400;
}
.contacts .btn-primary {
  background-color: #fff;
  color: #D81F84;
  font-weight: 600;
}

.copyright {
  width: 100%;
  overflow-x: hidden;
  background-color: #35363a;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
}/*# sourceMappingURL=footer.css.map */