.user-details {
    display: flex;
    margin: 10px 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;

}

.left {
    margin-left: 80px;
}

.reposition {
    margin-top: 20px;
}

.text {
    min-height: 230px;
    background-color: #f2f2f2;
    margin: 10px 20px;
    padding: 20px;
    font-family: 'Roboto';
    display: flex;
}

.resolved-textbox {
    display: flex;
    margin: 10px 20px;
    padding: 20px;
    justify-content: space-around;
}

.resolved-message-box {
    /* margin: 10px; */
}

.message-box {
    background-color: #f2f2f2;
}

.comment-box {
    background-color: #FFF6FB;
}

.margin {
    margin: 10px 20px;

}

.checkbox {
    margin: 10px 20px;
    display: flex;
}

.container2-req {
    cursor: pointer;
}

.padding {
    padding: 5px;
}

.view-button {
    width: 100%;
    cursor: pointer;
}

.view-button:hover {
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #D81F84;
    background-color: white;
    color: black;
}

.mark-buttons-container {
    /* display: flex;
    justify-content: center; */
    margin: 20px 0;
}

.adjust-mark-buttons {
    display: flex;
    justify-content: space-between;
}

/* .resolved-mark-button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
} */

.mark-button {
    background: transparent;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #D81F84;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 30px;
}

.mark-button:hover {
    background: transparent;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #D81F84;
    color: #D81F84;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 30px;
}

.ticket-status {
    display: flex;
    align-items: center;
}

.details {
    padding: 5px 0;
}

.details-client {
    padding: 0px 0;
}

.details-heading {
    color: black;
}

/* .details-description {
    padding: 10px 0;
} */

.details-description-icon {
    padding: 0 10px 0 0;
}

.details-description-icon-client {
    padding: 0 10px 0 0;
}

.details-description-email {
    padding: 8px 0;
}

.write-comment {
    border: 1px solid black;
    padding: 10px;
}

.text-area {
    border-radius: 5px;
    border: 0.553px solid #E8E8E8;
    background: #FAFAFA;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    vertical-align: top;
    padding: 5px 5px;
    margin: 10px 0px;
    white-space: pre-wrap;
    color: #B3B3B3;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.265px;
}

.submit-comment-button,
.edit-comment-button:hover {
    background: transparent;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #D81F84;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
}

.edit-comment-button,
.submit-comment-button:hover {
    background: transparent;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #D81F84;
    color: #D81F84;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
}

@media (max-width:690px) {
    .profile {
        display: none;
    }

    .user-details {
        display: block;
    }

    .padding {
        font-size: 13px;
    }

    .profile-pic {
        justify-content: flex-start;
    }

    /* .date {
        display: flex;
        font-size: 10px;
        justify-content: flex-end;
    } */

    .text {
        font-size: 12px;
    }

    .reposition {
        font-size: 12px;
        width: 150px;
        height: 30px;
    }

    .view-button {
        width: 100%;
    }

    .mark-button {
        background: transparent;
        border: 1px solid;
        border-radius: 0.5rem;
        background-color: #D81F84;
        color: white;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.8rem;
        padding: 5px;
    }

    .mark-button:hover {
        background: transparent;
        border: 1px solid;
        border-radius: 0.5rem;
        border-color: #D81F84;
        color: black;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.8rem;
        padding: 5px;
    }

    .submit-comment-button,
    .edit-comment-button:hover {
        background: transparent;
        border: 1px solid;
        border-radius: 0.5rem;
        background-color: #D81F84;
        color: white;
        cursor: pointer;
        font-weight: 500;
        padding: 5px;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .edit-comment-button,
    .submit-comment-button:hover {
        background: transparent;
        border: 1px solid;
        border-radius: 0.5rem;
        border-color: #D81F84;
        color: #D81F84;
        cursor: pointer;
        font-weight: 500;
        padding: 5px;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .adjust-mark-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ticket-status {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 10px;
    }

    .accordion-text {
        font-size: 12px;
    }

    .accordion-heading-text {
        font-size: 12px;
    }

    .text-area {
        font-size: 12px;
        height: 50px;
    }

    .status-buttons {
        display: flex;
    }
}

@media (max-width:300px) {
    .view-button {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .detail-icons {
        display: none;
    }

    .details {
        padding: 5px;
        font-size: 12px;
    }

    .details-heading>p {
        margin-bottom: 0px;
    }

    .details-description-email {
        padding: 0px;
    }

    .date-details {
        padding: 5px;
        font-size: 12px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Grey out the background */
    display: flex;
    justify-content: center;
    align-items: center;
}